.dark-input-element {
  margin: 20px 4px 20px 0px;
}

.dark-input-element label.el-label {
  font-size: 12px;
  font-weight: 560;
  display: block;
  color: var(--form-element-color);
}

.dark-input-element input.text-input {
  box-sizing: border-box;
  border: none;
  padding: 10px 12px;
  border-radius: 3px 3px 2px 2px;
  font-size: 14px;
  outline: none;
  background-color: var(--form-element-bg);
  caret-color: var(--form-element-color);
  color: var(--form-element-color);
  border-bottom: 1.4px solid #e0e0e0;
  transition: border 0.2s ease, background-color 0.2s ease;
}

.dark-input-element input.text-input.fluid {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.dark-input-element input.text-input:focus {
  background-color: var(--form-element-hover-bg);
  border-bottom: 1.4px solid var(--theme-variant-one);
}
