body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme-primary: #1d262f;
  --theme-secondary: #434b54;
  --theme-tertiary: #121212;
  --theme-variant-one: #44fdbc;
  --theme-variant-two: #3700b3;
  --theme-light: #ffffff;

  /* --form-element-bg: #424242; */
  --form-element-bg: #424242;
  --form-element-color: white;
  --form-element-hover-bg: #525252;
  --form-element-hover-color: grey;
}

.menu .right button.basic.ui.medium.AllotedSlotsButton {
  transition: all 0.1s ease-in-out !important;
  font-weight: 700 !important;
}
.menu .right button.basic.ui.medium.AllotedSlotsButton:hover {
  background-color: #6435c9 !important;
  color: white !important;
}

.ui.statistic.noBottomMargin {
  margin-bottom: 0px !important;
}

.fullPage {
  width: 100%;
  height: 100vh;
}

.color.theme-one {
  color: var(--theme-variant-one) !important;
}
.color.theme-two {
  color: var(--theme-variant-two) !important;
}
.bg.theme-one {
  background-color: var(--theme-variant-one) !important;
}
.bg.theme-two {
  background-color: var(--theme-variant-two) !important;
}
.border.theme-one {
  border: 2px solid var(--theme-variant-one) !important;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 2px;
}

#\#sidenav > div > a.item.active {
  color: var(--theme-variant-one) !important;
}
