body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme-primary: #1d262f;
  --theme-secondary: #434b54;
  --theme-tertiary: #121212;
  --theme-variant-one: #44fdbc;
  --theme-variant-two: #e64d43;
  --theme-variant-three: #3700b3;
  --theme-light: #ffffff;
}

.menu .right button.basic.ui.medium.AllotedSlotsButton {
  transition: all 0.1s ease-in-out !important;
  font-weight: 700 !important;
}
.menu .right button.basic.ui.medium.AllotedSlotsButton:hover {
  background-color: #6435c9 !important;
  color: white !important;
}

.ui.statistic.noBottomMargin {
  margin-bottom: 0px !important;
}

.fullPage {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 2px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */

#\#sidenav > div > a.item.active {
  color: var(--theme-variant-one) !important;
}
