button.dark-button {
  background-color: var(--form-element-bg);
  padding: 10px 24px 11.4px 24px;
  color: var(--theme-variant-one);
  border: none;
  font-size: 15px;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.02s ease-in-out;
  outline: none;
  margin: 20px 4px 20px 0px;
  display: block;
  min-width: 120px;
}
button.dark-button.fluid {
  width: 100%;
  display: block;
}

button.dark-button:hover:not(:disabled) {
  background-color: var(--form-element-hover-bg);
}

button.dark-button:disabled {
  opacity: 0.5;
}
