.dark-form-element {
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 4px 20px 0px;
  /* 	font-family: 'Roboto', sans-serif; */
  font-family: "Roboto Mono", monospace;
  --selection-bg: #121212;
  --selection-color: #fff;
}

.dark-form-element label {
  font-size: 12px;
  font-weight: 560;
  display: block;
}

/* drop down */

.dark-form-element div.dropdown {
  position: relative;
  max-width: 120px;
  font-family: "Roboto", sans-serif;
}
.dark-form-element div.dropdown.fluid {
  max-width: none;
}

.dark-form-element div.select {
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 3px 3px 2px 2px;
  font-size: 14px;
  background-color: #424242;
  border-bottom: 1.4px solid #e0e0e0;
  transition: border 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dark-form-element div.select:hover {
  background-color: #616161;
}

.dark-form-element div.select div.arrow {
  font-size: 20px;
}

.dark-form-element div.select:focus,
.dark-form-element div.select.active {
  border-bottom: 1.4px solid var(--theme-variant-one);
}

.dark-form-element div.select + ul.options {
  min-width: 120px;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  display: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.dark-form-element div.select + ul.options.active {
  display: block;
}

.dark-form-element div.select + ul.options li {
  outline: none;
  border: none;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #424242;
  cursor: pointer;
}

.dark-form-element div.select + ul.options li:hover,
.dark-form-element div.select + ul.options li:focus {
  background-color: #616161;
}

.dark-form-element div.dropdown.justArrow {
  max-width: none;
  display: inline-block;
}
.dark-form-element div.dropdown.justArrow div.select {
  padding: 0px;
  border: none;
}
.dark-form-element div.dropdown.justArrow div.select .arrow {
  font-size: 20px;
}

.dark-form-element input[type="text"].ddd-hidden {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0;
  cursor: default;
  width: 0px;
  height: 0px;
}
